# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\personal\workspace\auth-server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
